html {
    scroll-behavior: smooth;
    font-family: helvetica;
}

body {
    margin: 0;
}

/* Base styles */
body {
    font-size: 16px;
}
  
/* Larger screens */
@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
} 
  
/* Smaller tablets and mobiles */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

ul {
    padding: 0;
    margin: 0;
}

#navbar {
    position: fixed;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    z-index: 3;
/*    border-bottom: 0.15vh solid #42495B; */
}

#navbar-container {
    height: 90%;
    width: 90%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#navbar-logo {
    height: 80%;
}

#navbar-logo img {
    height: 100%;
}

#navbar-items {
    height: 80%;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75em;
}

#navbar a {
    text-decoration: none;
    color: #42495B;
}

#navbar a:hover {
    text-decoration: underline solid #EFEA5A 0.3rem;
}

.vp-container {    
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}

.body-container {       
    width: 80vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 700;
    margin-top: 10vh;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #66999B;
}

h2 {
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
}

p, li, li a, li a:visited {
    font-weight: 300;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

p, li, li a, li a:visited {
    color: #42495B;
}

p span {
    display: block;
    margin-bottom: 1em;
} 

#intro-container .body-container {
    display: flex;
    align-items: center;
}

#intro-subcontainer {
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#intro-container h1 {
    text-align: left;
}

#intro-container .body-container img {
    width: 40%;
    object-fit: contain;
}

.body-container #intro-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-big-txt, #intro-sm-txt {
    font-size: 2.25vw;
}

#intro-txt a, #intro-txt a:visited {
    background-color: #EFEA5A;
    color: #42495B;
    padding: 3%;
    border-radius: 2vw;
    border: 0.15vw solid #42495B;
    width: 45%;
    margin-top: 10%;
    text-decoration: none;
    text-align: center;
}

#intro-txt a:hover {
    background-color: #42495B;
    color: #EFEA5A;
}

#intro-txt h1, #intro-txt p {
    color: #66999B;
    margin: 0;
}

#project-container {
    height: 175vh;
    display: flex;
    flex-direction: column;
}

.body-container #project-subsection {
    height: 120vh;
    margin: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-subsection .content a:visited, #project-subsection .content p, #project-subsection .content-details li {
    color: #f5f5f5;
}

.collapsible {
    width: 70%;
    height: 10%;
    border: none;
    border-radius: 0.75vw;
    margin-bottom: 1.5%;
    padding: 2% 4%;
    background-color: #EFEA5A;
    color: #42495B;
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 100%;
    font-weight: 700;
}
  
.active, .collapsible:hover {
    background-color: #42495B;
    color: #EFEA5A;
}
  
.content {
    width: 70%;
    height: 30vh;
    border-radius: 0.75vw;
    display: none;
    overflow: hidden;
    background-color: #42495bd6;
    margin: 0.5% 0 2% 0;
}

.content-container {
    display: flex;
    height: 100%;
}

.content-txt {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-details, .content-description, .content-skills {
    padding: 0 5.5%;
}

.content-description {
    font-size: 0.95em;
}

.content-details, .content-skills {
    font-size: 0.8em;
}

.content-txt li {
    margin-right: 10%;
}

.content-details {
    font-family: monospace;
}

.content-details ul, .content-skills ul {
    display: flex;
}

.content-details li {
    list-style-type: none;
}

.content-details a {
    text-decoration: none;
}

#project-subsection .content-details ul li a:hover {
    color: #EFEA5A;
}

.content-icon {
    height: 2.5vh;
    width: 2.5vh;
    margin-right: 0.5vw;
}

.content-skills li {
    list-style-type: none;
    padding: 2%;
    border-radius: 3vw;
    margin: 0 2% 0 0;
    background-color: #66999B;
    color: #f5f5f5;
}

.content-img-container {
    width: 30%;
    height: 100%;
    margin-left: auto;
}

.content-img {
    width: 100%;
    height: 100%;
}

.collapsible:after {
    content: "+"; 
    color: #42495B;
    font-size: 130%;
    float: right;
}

.active:after {
    content: "-";
    color: #EFEA5A;
}

#resume-download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

#resume-download a, #resume-download a:visited {
    text-decoration: none;
    color: #42495B;
}

#resume-download a:hover {
    color: #66999B;
}

#resume-download .download-icon {
    height: 3vh;
    margin-left: 0.3vw;
}

#little-isl1 {
    width: 100vw;
    height: 100vh; 
    object-fit: cover;
    object-position: 0% 49%;
} 

#skills-container {
    height: 200vh;
}

#skills-container .body-container {
    display: flex;
    flex-direction: column; 
}

#lang-tech-container, #soft-skill-container {
    width: 85%;
    margin-bottom: 5%;
}

.body-container #lang-tech-container {
    background-color: #42495baf;
    margin-top: 4%;
    border-radius: 0 1vw 1vw 0;
    border-left: 1.25vw solid #42495B;
}

#lang-tech-header {
    display: flex;
    margin: 5% 4% 0 4%;
}

#lang-tech-header h2 {
    margin-bottom: 0;
}

#lang-header, #tech-header {
    text-decoration: underline #EFEA5A 0.3rem;
    text-decoration-skip-ink: none; 
    color: #f5f5f5; 
}

#ampersand {
    margin: 0 1%;
    color: #f5f5f5; 
}

/* #lang-header:hover, #tech-header:hover {
    background-color: #EFEA5A;
    color: #42495B;
}  */

#lang-tech-container ul {
    margin: 4%;
    display: flex; 
    justify-content: space-evenly;
}

#lang-tech-container li {
    list-style-type: none; 
    text-align: center;
    font-size: medium;
    background-color: #f5f5f5;
    border-radius: 0.75vw;
    padding: 1%;
    width: 10%;
    margin-right: 3%;
    font-size: 1em;
}

.skills-icon {
    width: 100%;
}

#soft-skill-container {
    margin-left: auto;
    background-color: #42495baf;
    border-radius: 1vw 0 0 1vw;
    border-right: 1.25vw solid #42495B;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#soft-skill-container h2 {
    margin: 5% auto 0 4%;
}

#soft-subtxt-container p {
    color: #f5f5f5;
    margin: 0;
}

#soft-subtxt-container {
    margin: 4% 4% 0 4%;
}

#soft-cards-container {
    display: flex;
    margin: 4%;
    width: 85%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flip-card {
    background-color: transparent;
    width: 16.5vw;
    height: 40vh;
    margin: 1%;
    font-size: 0.85em;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
    transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    background: #EFEA5A;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front h3 {
    color: #42495B;
}

.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EFEA5A;
    transform: rotateY(180deg);
    z-index: 1; 
    display: flex;
    align-items: center;
}

.flip-card-back p {
    color: #42495B;
    text-align: left;
    font-size: 95%;
    margin: 0 10%;
}

.flip-card, .flip-card-inner, .flip-card-front,
 .flip-card-back {
    border-radius: 1vw;
}

h3 {
    font-size: 110%;
    font-weight: bold;
}

#little-isl2 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 0% 58%; 
}

#about-container {
    display: flex;
    height: 850vh;
}

#about-container h2 {
    color: #42495B;
}

#about-subsection1 {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

#headshot {
    width: 20vw;
    height: 20vw;
    object-fit: cover; 
    border-radius: 100%;
    border: 0.5vw solid #EFEA5A;
}

#about-subtext {
    width: 65%; 
    line-height: 1.5em;
    font-size: 1.15em;
}

#about-subtext p {
    margin-top: 5%;
}

#about-subsection2 {
    margin-top: 5%;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
}

#about-subsection2-txt {
    font-size: 110%;
}

#about-subsection2-imgs {
    margin: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.film-h, .film-v {
    width: 48%;
    object-fit: scale-down;
    margin-bottom: 2em;
}

#about-subsection3 {
    margin-top: 5%;
    padding: 5em 0;
}

#about-subsection3-txt {
    font-size: 110%;
}

#about-subsection3-imgs {
    margin: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dslr-h, .dslr-v {
    width: 48%;
    object-fit: scale-down;
}

.dslr-h {
    margin-bottom: 2em;
}

#about-subsection4 {
    display: flex;
}

#vb-caption p {
    color: #42495B;
    font-size: 1em;
    line-height: 1.5em;
}

#vb-caption {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#vb {
    margin-left: auto;
    width: 50%;
    object-fit: cover;
}

#grad-pics {
    display: flex;
}

#grad {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

#grad-bts {
    width: 50vw;
    height: 100vh;
    object-fit: cover; 
    object-position: 10% 50%;
}

#little-island {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 0% 57%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 25vh;
    width: 100%;
}

#footer-container {
    height: 90%;
    width: 90%;
}

#footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 20%;
}

#contact {
    font-size: 0.8em;
}

#contact li, #contact li a {
    list-style-type: none;
    color: #42495B;
}

#contact li a:hover {
    color: #66999B;
}

#icons {
    margin-top: 2vh;
    width: 50%;
}

#icons li {
    list-style-type: none;
}

#icons ul {
    display: flex;
    justify-content: space-between;
}

footer .icon {
    height: 2.5vh;
    width: 2.5vh;
}